<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/identidade.jpeg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/configInicial.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/paginas/curriculo.css">
    <link rel="stylesheet" href="../styles/Resoponsividade/containers.css">
    <link rel="stylesheet" href="../styles/Resoponsividade/curriculo.css">
    
    <title>Meu site</title>
</head>
<body>

    <header>
        <div class="logo">
            <div class="imagem"></div>
            <div class="texto"> MEU SITE</div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark arredondar">
            <div class="container-fluid">
              <a class="navbar-brand">MENU</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Currículo</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="./Projetos.html">Projetos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./EnvioDeEmail.html">Contate-me</a>
                  </li>
                </ul>
            
              </div>
            </div>
          </nav>
    </header>
    <hr class="separador">
    

    <section class="secao">
        <div class= "conteudoS1">
            <div class="divImg">
                <img src="../img/eu.jpg" alt="João Victor">
            </div>

            <div class="sobreMim">
                <h1>João Victor Lacerda de Queiroz</h1>
                <h1>Serra Branca - PB</h1>
                <p id="sobreMim">
                    Cursando <b>Analise e Desenvolvimento de Sistemas</b> com grande interesse em desenvolvimento
                     e aprendizado de novos conceitos juntamente de tecnologias. Busco através desse projeto
                      potencializar meus conhecimentos de desenvolvimento web e sofisticar meu portfólio como profissional. 
                </p>
                <a href="https://drive.google.com/file/d/1_RWnP4hpZ1oc8YE4H_zrtLuyhxyr2cGA/view?usp=sharing">Ver o currículo formal</a>
                <br>
                <br>
            </div>
        </div>
    </section>

    <section class="secao">
        <div class="conteudoS1 conteudoS2">
            <div class="divImg">
                <img src="../img/estudo.png" alt="Imagem de estudo">
            </div>
            <h1>Linha do tempo - Área acadêmica</h1>
          <div id="info">
            <ul id="linhaDoTempo">
               
            </ul>
          </div>
          <br>
        </div>
    </section>

    <section class="secao">

        <div class="conteudoS1 conteudoS2 conteudoS3">
            <div class="divImg">
                <img src="../img/code.jpeg" alt="imagem binário">
            </div>
            <h1>Tecnologias de interesse</h1>
            <div>
                <h3>Linguagens de programação</h3>
          <ul>
              <li>
                  <img src="https://image.flaticon.com/icons/png/512/226/226777.png" alt="Java" id="Linguagens">
              </li>
              <li>
                  <img src="https://image.flaticon.com/icons/png/512/1822/1822899.png" alt="Python" id="Linguagens">
              </li>
              <li id="javaScript">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png" alt="JavaScript" id="Linguagens">
                  <img src="https://appmasters.io/static/typescript-logo-26cc95f255ccb936d154b43614f61602.png" alt="Type Script" id="Linguagens">
              </li>
              <li>
                  <img src="https://seeklogo.com/images/D/dart-logo-FDA1939EC4-seeklogo.com.png" alt="dart" id="Linguagens">
              </li>
          </ul>
          </div>
          <br>
        </div>
    </section>

    <section class="secao">
        <div class="conteudoS1 conteudoS2 conteudoS3">
            <div class="divImg">
                <img src="https://image.flaticon.com/icons/png/512/3427/3427386.png" alt="Banco de dados">
            </div>
            <h1>Tecnologias de interesse</h1>
            <div>
                <h3>Banco de dados</h3>
          <ul>
              <li>
                  <img src="https://image.flaticon.com/icons/png/512/919/919836.png" alt="MySQL" id="Banco-de-dados">
              </li>
              <li>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png" alt="PostgreSQL" id="Banco-de-dados">
              </li>
              <li>
                  <img src="https://img.icons8.com/color/480/mongodb.png" alt="MongoDB" id="Banco-de-dados">
              </li>
            
          </ul>
          </div>
          <br>
        </div>


    </section>

    <section class="secao">
        <div class="conteudoS1 conteudoS2 conteudoS3">
            <div class="divImg">
                <img src="https://image.flaticon.com/icons/png/512/3588/3588062.png" alt="Frameworks">
            </div>
            <h1>Tecnologias de interesse</h1>
            <div>
                <h3>Frameworks</h3>
          <ul>
              <li>
                  <img src="https://seeklogo.com/images/D/django-logo-4C5ECF7036-seeklogo.com.png" alt="Django" id="Django">
              </li>
              
              <li>
                <img src="https://walde.co/wp-content/uploads/2016/09/nodejs_logo.png" alt="node.js" id="node">
            </li>
            <li>
                  <img src="https://d3mds3ychln71.cloudfront.net/img/flutter-logo@3x.png" alt="Flutter" id="Flutter">
              </li>
            
          </ul>
          </div>
          <br>
    </section>

    <section class="secao">
    <div class="conteudoS1 conteudoS2 conteudoS3">
        <div class="divImg">
            <img src="https://image.flaticon.com/icons/png/512/1005/1005141.png" alt="Desenvolimento web">
        </div>
        <h1>Tecnologias de interesse</h1>
        <div>
            <h3>Desenvolimento web</h3>
      <ul>
          <li>
              <img src="https://image.flaticon.com/icons/png/512/888/888859.png" alt="HTML 5" id="devWeb">
          </li>
          
          <li>
            <img src="https://image.flaticon.com/icons/png/512/888/888847.png" alt="CSS 3" id="devWeb">
        </li>
      </ul>
      </div>
      <br>
    </section>
    <footer>
    
        <div class="rodape">
            <h3>João Victor Lacerda</h3>
        </div>
        <div class="rodape">
            
            <a href="https://www.instagram.com/thenbhd22/">
                <img src="https://cdn-icons-png.flaticon.com/512/1409/1409946.png" alt="instagram" class="redesSociais">
            </a>

            <a href="https://github.com/JoaoVictorLacerda">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" class="redesSociais">
            </a>
            <a href="mailto:victorqueiroz90@outlook.com">
                <img src="https://cdn.iconscout.com/icon/free/png-256/microsoft-outlook-1868952-1583116.png" alt="outlook" class="redesSociais">
            </a>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-lacerda-de-queiroz-7844901b9/">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="linkedin" class="redesSociais">
            </a>
            
        </div>


    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="../js/Curriculo/script.js"></script>
</body>
</html>