<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/identidade.jpeg">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/configInicial.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/paginas/envioDeEmail.css">
    <link rel="stylesheet" href="../styles/Resoponsividade/containers.css">
    <title>Meu site</title>
</head>
<body>
    <header>
        <div class="logo">
            <div class="imagem"></div>
            <div class="texto"> MEU SITE</div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark arredondar">
            <div class="container-fluid">
              <a class="navbar-brand">MENU</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./Curriculo.html">Currículo</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="./Projetos.html">Projetos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contate-me</a>
                  </li>
                </ul>
            
              </div>
            </div>
          </nav>
    </header>
    <hr class="separador">

    <Section class= "contact-me">
        <div>
          <input type="text" id="nomeOuEmail"
          placeholder="Nome ou email (Opcional)" />
        </div>
        
        <div>
          <textarea id="message" placeholder="Crítica ou elogio" rows="10"></textarea>
        </div>
  
        <div>
          <button id="btn" type="submit" >ENVIAR</button>
        </div>
     
    </Section>

    <footer>
    
        <div class="rodape">
            <h3>João Victor Lacerda</h3>
        </div>
        <div class="rodape">
            
            <a href="https://www.instagram.com/thenbhd22/">
                <img src="https://cdn-icons-png.flaticon.com/512/1409/1409946.png" alt="instagram" class="redesSociais">
            </a>

            <a href="https://github.com/JoaoVictorLacerda">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" class="redesSociais">
            </a>
            <a href="mailto:victorqueiroz90@outlook.com">
                <img src="https://cdn.iconscout.com/icon/free/png-256/microsoft-outlook-1868952-1583116.png" alt="outlook" class="redesSociais">
            </a>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-lacerda-de-queiroz-7844901b9/">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="linkedin" class="redesSociais">
            </a>
            
        </div>


    </footer>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="../js/EnvioDeEmails/EnvioDeEmail.js"></script>
    
</body>
</html>
