<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/identidade.jpeg">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/configInicial.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/paginas/projetos.css">
    <link rel="stylesheet" href="../styles/Resoponsividade/containers.css">
    <title>Meu site</title>
</head>
<body>

    <header>
        <div class="logo">
            <div class="imagem"></div>
            <div class="texto"> MEU SITE</div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark arredondar">
            <div class="container-fluid">
              <a class="navbar-brand">MENU</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./Curriculo.html">Currículo</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">Projetos</a>
                  </li>
                </ul>
            
              </div>
            </div>
          </nav>
    </header>
    <hr class="separador">

    <section class="secao">
        <div class= "conteudoS1">
            <div class="divImg">
                <h1>Readbooks</h1>
                <br>
                <img src="https://image.flaticon.com/icons/png/512/1822/1822899.png" alt="Python">
                <img src="https://seeklogo.com/images/D/django-logo-4C5ECF7036-seeklogo.com.png" alt="Django">
                <img src="https://image.flaticon.com/icons/png/512/888/888859.png" alt="HTML 5">
                <img src="https://image.flaticon.com/icons/png/512/888/888847.png" alt="CSS 3">

            </div>

            <div class="formatacao">
                <p>
                    <b>ReadBooks</b> é um site que disponibiliza ebooks para download no formato EPUB.
                    O objetivo do projeto é democratizar a todos o acesso à livre leitura.
                    Não há fins lucrativos.
                </p>
                <a href="https://github.com/JoaoVictorLacerda/ReadBooks">Acesse o projeto</a>
                <br>
                <br>
            </div>
        </div>
    </section>

    <section class="secao">
        <div class="conteudoS1 conteudoS2">
            <div class="divImg">
                <h1>DynamicLayout</h1>
                <img src="https://image.flaticon.com/icons/png/512/226/226777.png" alt="java">
            </div>
          <div class="formatacao">
                <p>
                    <b>DynamicLayout</b> é um gerenciador de layout swing capaz de deixar projetos swing-desktop responsivos.
                    Seu diferencial é a baixa complexidade na utilização.
                </p>

                <p>
                    Quando comecei meus estudos em swing
                    percebi que os gerenciadores de layout mantinham sempre regras e complexidades com relação a sua utilização;
                    com isso em mente, comecei a estudar a possibilidade de construir um gerenciador de layout à base de porcentagem,
                    e com isso nasceu o DynamicLayout.
                 </p>
                 <p>
                    Aos desenvolvedores swing interessados em descobrir como usar o gerenciador,
                    deixo o link para o projeto em meu github, onde está bem documentado e explicativo.
                 </p>
                 <a href="https://github.com/JoaoVictorLacerda/DynamicLayout">Acesse o projeto</a>
                <br>
                <br>
          </div>
          <br>
        </div>
    </section>
    <section class="secao">
        <div class="conteudoS1 conteudoS2">
            <div class="divImg">
                <h1>Safe Language</h1>
                <img src="https://image.flaticon.com/icons/png/512/1822/1822899.png" alt="Python">
                <img src="https://image.flaticon.com/icons/png/512/226/226777.png" alt="Java">
                <img src="https://image.flaticon.com/icons/png/512/518/518705.png" alt="Android">
                <img src="https://seeklogo.com/images/D/dart-logo-FDA1939EC4-seeklogo.com.png" alt="Dart">
                <img src="https://cdn.worldvectorlogo.com/logos/flutter-logo.svg" alt="Flutter" id="flutter">
            </div>
          <div class="formatacao">
                <p>
                    <b>Safe Language</b> começou com uma ideia boba de projeto quando comecei o meu primeiro curso de 
                    programação (Python). Basicamente, é um software responsável por criptografar mensagens informada pelo usuário
                </p>

                <p>
                   Logo mais, foi usado como projeto de conclusão da cadeira de programação 1, onde também foi desenvolvido em python,
                   porém com interface gráfica, envio de emails e o banco SQLite. <br> Deixarei o link abaixo:
                 </p>
                 <a href="https://github.com/JoaoVictorLacerda/SafeLanguage">Acesse o projeto</a>
                 <p>
                    Depois, adaptei uma versão para Android escrito em Java.
                 </p>
                 <a href="https://github.com/JoaoVictorLacerda/SafeLanguage-AndroidVersion">Acesse o projeto</a>
                 <p>
                    Até então, a criptografia era algo estático, onde o usuário não tinha capacidade de alterar o alfabeto
                    de criptografia, e por isso foi pensado em uma nova versão: dessa vez escrito em dart + flutter, o usuário tem
                    a liberdade de criar um alfabeto criptografado, compartilhá-lo com amigos
                    e ter persistência de dados
                 </p>
                 <a href="https://github.com/JoaoVictorLacerda/SafeLanguage-Flutter">Acesse o projeto</a>
                <br>
                <br>
          </div>
          <br>
        </div>
    </section>

    <section class="secao">
        <div class="conteudoS1 conteudoS2">
            <div class="divImg">
                <h1>Livraria Digital</h1>
                <img src="https://image.flaticon.com/icons/png/512/226/226777.png" alt="Java">

            </div>
          <div class="formatacao">
                <p>
                    A <b>Livraria Digital </b> foi o projeto feito para a conclusão da disciplina de programação 2.
                     É basicamente um sistema que simula um e-commerce de livros, com todas operações bem organizadas.
                      O ponto que mais me orgulha nesse projeto é que eu e minha dupla nos preocupamos bastante com a
                       qualidade de software( Tentamos dar o máximo que tínhamos na época, levando em consideração que 
                       não conhecíamos os padrões de projetos e arquiteturas de softwares bem definidas como MVC ou clean architecture).
                </p>
                 <a href="https://github.com/JoaoVictorLacerda/LivrariaDigital">Acesse o projeto</a>
                <br>
                <br>
          </div>
          <br>
        </div>
    </section>

    <section class="secao">
        <div class="conteudoS1 conteudoS2">
            <div class="divImg">
                <h1>Jogo Pong</h1>
                <img src="https://image.flaticon.com/icons/png/512/1822/1822899.png" alt="Python">
                <img src="http://www.pygame.org/docs/pygame_logo.gif" alt="Pygame" id="pygame">

            </div>
          <div class="formatacao">
                <p>
                    <b>Jogo Pong</b> foi um joguinho 2d onde dois jogadores disputam a vitória podendo ser
                    em 3 modalidades - fácil, médio ou difícil 
                </p>
                 <a href="https://github.com/JoaoVictorLacerda/JogoPong">Acesse o projeto</a>
                <br>
                <br>
          </div>
          <br>
        </div>
    </section>

    <footer>
    
        <div class="rodape">
            <h3>João Victor Lacerda</h3>
        </div>
        <div class="rodape">
            
            <a href="https://www.instagram.com/thenbhd22/">
                <img src="https://cdn-icons-png.flaticon.com/512/1409/1409946.png" alt="instagram" class="redesSociais">
            </a>

            <a href="https://github.com/JoaoVictorLacerda">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" class="redesSociais">
            </a>
            <a href="mailto:victorqueiroz90@outlook.com">
                <img src="https://cdn.iconscout.com/icon/free/png-256/microsoft-outlook-1868952-1583116.png" alt="outlook" class="redesSociais">
            </a>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-lacerda-de-queiroz-7844901b9/">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="linkedin" class="redesSociais">
            </a>
            
        </div>


    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>
