@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.secao{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animacaoApresentacao 1s forwards;
    opacity: 0;
}

@keyframes animacaoApresentacao{
    0%{
       opacity: 0;
    }100%{
        opacity: 1;
        
    }
}

.divImg{
    width: 100%;
    padding-top: 20px;
 
}
.divImg img{
    width: max(70px,10%);
    height: 100%;
 
}
#flutter{
    width: max(60px,8%);
    height: 100%;
}
#pygame{
    width: max(130px,20%);
    height: 100%;
}

.formatacao{
    display: inline-block;
    text-align: center;
}
.formatacao h1{
    font-size: max(19px,2vw);
    font-family: 'Nunito', sans-serif;
}
.formatacao p{
    font-family: 'Nunito', sans-serif;
    font-size: max(18px,1.6vw);
    margin-top: 40px;
    padding: 5px;
    
}
.formatacao a{
    font-family: 'Nunito', sans-serif;
    font-size: max(18px,1.3vw);
    color: rgb(0, 26, 255);
}

.conteudoS1{
    width: 70%;
    text-align: center;
    margin: 50px;
    background: radial-gradient( circle,hsl(0, 0%, 87%), #919090 100%);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px  rgb(0, 0, 0);
    margin-bottom: 20px;
}
.conteudoS1 h1{
    font-size: max(27px, 3vw);
}

.conteudoS2{
    padding-top: 10px;
    margin: 0px;
    margin-bottom: 20px;
}

.conteudoS2 h1{
    font-size: max(27px, 3vw);
    margin-top: 20px;
    margin-bottom: 30px;
}
.conteudoS2 ul li{
    
    list-style-type: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-size: max(18px,1.6vw);
    margin:10px;
    margin-top: 38px;
    margin-left: max(20px,7vw)

}
#info{
    text-align: left;

}

